body{
  font-family: 'Raleway', sans-serif;
}

#foodPicture{
  max-width: 100%;
  height: auto;
}

#top{
    position: relative;
    display: inline-block;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

h1{
  font-family: 'Berkshire Swash', cursive;
}

#main{
  position:relative;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#NextButton{
  position:absolute;
  bottom:0;
  right:0;
}

#PrevButton{
  position:absolute;
  bottom:0;
  left:0;
}
